body {
    font-family: 'Russo One', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

textarea:focus, input:focus{
    outline: none;
}

.content{
    display: flex;
    flex-grow:1;
}

.login{
    flex-grow: 1;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}
.login a{
    display: inline-block;
    margin: 0 10px;
    
    text-decoration: none;
}

header {
    border-bottom: 1px solid #ccc;
    display: flex;
    height: 75px;
    background: black;
    position: relative;
    z-index: 1000;
}


h1 {
    text-align: center;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
}

.view {
    width: 75px;
    text-align: center;
    background: #0F7173;
}

svg {
    filter: drop-shadow(0 4px 4px rgb(0 0 0 /0.4));
}

.order {
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6369d1;
    font-family: 'Russo One';
    font-size: 37px;
    text-shadow: 0 3px 3px rgb(0 0 0 /0.4);
}

form {
    width: 20%;
    display: flex;
    flex-direction: column;
}

#container {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

form{
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    left: 0px;
    top: 75px;
    border-radius: 0 0 20px 0;
    width:275px;
}

input{
    margin: 0 30px;
    border-bottom: 3px solid #000;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: 'Russo One';
    font-size: 19.5px;
}

input[type = "submit"] {
    margin: 20px 30px;
    background-color: #6369d1;
    border: none;
    font-size: 25px;
    height: 60px;
    border-radius: 0 45px 0 45px;

}

label {
    margin: 20px 30px 0 30px;
    font-size: 25px;
}

.profile{
    width: 67px;
    height: 67px;
    background-color: white;
    border-radius: 100%; 
    overflow: hidden;
    margin-right: 20px;
    cursor: pointer;
}
.profile svg{
    margin-top: 5px;
    transform: scale(0.7);
}

.login-signup{
    width: 300px;
    height: 300px;
    background: #333;
    position: absolute;
    top: -400px;
    right: 0;
    z-index: 10000;
}

.shown {
    top: 0px;
}